@charset "UTF-8";
/* Passende Farben für die Zukunft.
* #0e1e35
* #173c45
* #295a56
* #2d8064
* #a7ce97
* #fff
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 24px;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #173c45;
}

body header h1 {
  color: #fff;
}

body header .caption {
  color: #fff;
  font-size: 18px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

body main #statlist {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
}

body main .dice-magic {
  margin-top: 15px;
  margin-bottom: 15px;
}

body main .dice-magic #btn {
  color: #fff;
  background: #173c45;
  outline: none;
  padding: 5px;
  display: inline;
  text-align: center;
  cursor: pointer;
}

body main .option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body main .option-wrapper .options-caption {
  margin-top: 15px;
}

body main .option-wrapper input {
  margin-top: 5px;
  margin-bottom: 5px;
}

body main .option-wrapper #dm-mode-wrapper label {
  position: relative;
}

body main .option-wrapper #dm-mode-wrapper input[type=checkbox] {
  display: none;
}

body main .option-wrapper #dm-mode-wrapper input[type=checkbox] + label::before {
  width: 24px;
  height: 24px;
  border-radius: 11px;
  border: 2px solid #173c45;
  background-color: #fff;
  display: block;
  content: "";
  position: absolute;
  left: -25%;
  top: 0%;
  margin-right: 5px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

body main .option-wrapper #dm-mode-wrapper input[type=checkbox]:checked + label::before {
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
          box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #173c45;
}

body main .history-wrapper .history-caption {
  margin-top: 15px;
  margin-bottom: 15px;
}

body main .history-wrapper #roll-history {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

body main .history-wrapper tr th {
  width: 30%;
}

body main .history-wrapper tr td {
  width: 30%;
}

body footer h6 {
  font-size: 14px;
  position: fixed;
  bottom: 0;
}
/*# sourceMappingURL=beta.css.map */