/* Passende Farben für die Zukunft.
* #0e1e35
* #173c45
* #295a56
* #2d8064
* #a7ce97
* #fff
*/

$backgroundColor: #173c45;
$lightFontColor: #fff;
$darkFontColor: #333;
$smallFontSize: 14px;
$normalFontSize: 18px;
$elementPadding: 5px 15px;
$elementMargin: 15px;

%debugBorder {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    color: $darkFontColor;
    font-size: 24px;
}
        
body {

    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        background: $backgroundColor;

        h1 {
            color: $lightFontColor;
        }

        .caption {
            color: $lightFontColor;
            font-size: 18px;
        }
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        max-width: 1440px;
        margin: 0 auto;

        #statlist {
            margin-top: $elementMargin;
            margin-bottom: $elementMargin;
            list-style: none;
        }

        // .value-display {
        //
        // }

        .dice-magic {
            margin-top: $elementMargin;
            margin-bottom: $elementMargin;

            #btn {
                color: $lightFontColor;
                background: $backgroundColor;
                outline: none;
                padding: 5px;
                display: inline;
                text-align: center;
                cursor: pointer;
            }
        }

        .option-wrapper {

            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;

            .options-caption {
                margin-top: $elementMargin;
            }

            input {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            #dm-mode-wrapper {
                
                label {
                    position: relative;
                }

                input {
                    &[type=checkbox] {
                        display: none;

                        &+label::before {
                            width: 24px;
                            height: 24px;
                            border-radius: 11px;
                            border: 2px solid $backgroundColor;
                            background-color: #fff;
                            display: block;
                            content: "";
                            position: absolute;
                            left: -25%;
                            top: 0%;
                            margin-right: 5px;
                            transform: scale(.7);
                        }

                        &:checked+label::before {
                            box-shadow: inset 0px 0px 0px 3px #fff;
                            background-color: $backgroundColor;
                        }
                    }
                }
            }
        }

        .history-wrapper {

            .history-caption{
                margin-top: $elementMargin;
                margin-bottom: $elementMargin;
            }
    
            #roll-history {
                margin-top: $elementMargin;
                margin-bottom: $elementMargin;
                width: 100%;
            }

            tr {

                th {
                    width: 30%;
                }

                td {
                    width: 30%;
                }
            }
        }
    }

    footer {

        h6 {
            font-size: 14px;
            position: fixed;
            bottom: 0;
        }
    }
}
